#login {
  display: flex;
  height: 500px;
  width: clamp(300px, 100vw, 700px);
  background-color: var(--white-color);
  border-radius: 10px;
}

.login__aside {
  display: flex;
  width: 100%;
  background-color: var(--secondary-color);
  flex-direction: column;
  padding: 20px;
  gap: 5px;
  font-weight: bold;
  border-radius: 10px;
  animation: aside_to_left 0.5s ease;
  z-index: 1;
}

.login__aside img {
  height: 50px;
  width: 50px;
  align-self: center;
}

.login__aside span {
  font-size: 3rem;
  text-align: center;
}

.login__aside div {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.login__aside div a {
  all: unset;
  cursor: pointer;
  color: var(--white-color);
  transition: transform 0.1s;
}

.login__aside div a:hover {
  transform: translateY(-1px);
}

.login__form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5rem;
  width: 100%;
  font-weight: bold;
  animation: form_to_right 0.5s ease;
  z-index: 0;
}

.login__form h2 {
  text-align: center;
  font-size: 3.5rem;
}

.login__form__inputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1.5rem 0px;
}

.login__form__fotter {
  display: flex;
  height: 100%;
  gap: 5px;
  align-items: center;
  justify-content: right;
}

.login__form__fotter button[type="submit"] {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.login__form__fotter button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--secondary-light-color);
}

.login__form__fotter button[type="reset"] {
  border: none;
  font-weight: bold;
  cursor: pointer;
}

@keyframes form_to_right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes aside_to_left {
  0% {
    transform: translateX(100%);
  }
}

@media (max-width: 800px) {
  .login__aside {
    display: none;
  }

  .login__form {
    animation: unset;
  }
}
