.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 5px;
}

.input__content {
  display: flex;
  width: 100%;
  gap: 1px;
}

.input__content i {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.5rem;
}

.input__content input {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px;
  outline: none;
  border: 1px solid var(--placeholder-color);
}

.input__content_second {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
