:root {
  --primary-dark-ccolor: #1b242a;
  --primary-color: #2b3841;
  --secondary-light-color: #ea6c50;
  --secondary-color: #d35a3f;
  --secondary-dark-color: #c45941;
  --placeholder-color: #595959;
  --success-color: #44754f;
  --failure-color: #f74646;
  --white-color: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Inter", "Arial";
}

#root {
  width: 100vw;
  height: 100dvh;
}

* {
  padding: 0px;
  margin: 0px;
}
